<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>

<body>
  <div class="sidebar">
    <div class="logo_content">
      <div class="logo">
        <i class='bx bx-equalizer'></i>
        <div class="logo_name">MusicBox</div>
      </div>
    </div>
    <ul class="nav_list">
      <li>
        <i class='bx bx-search'></i>
        <input type="text" placeholder="Search...">
        <span class="tooltip">Buscar</span>
      </li>
    </ul>  
  </div>  

  <div class="home_content">
    <div class="text">Home Content</div>
  </div>

  <script src="script.js"></script>

</body>
