<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>

<body>
  <div class="sidebar">
    <div class="logo-details">
      <i class='bx bx-equalizer'></i>
      <div class="logo_name">MusicBox</div>
    </div>
    <ul class="nav-list">
      <li>
        <a href="generos">
          <i class='bx bx-grid-alt'></i>
          <span class="links_name">Géneros</span>
        </a>
      </li>
      <li>
        <a href="subirTema">
          <i class='bx bx-upload'></i>
          <span class="links_name">Subir Tema</span>
        </a>
      </li>
    </ul>
  </div>
  <section class="home-section">
    <div class="text">Dashboard</div>
  </section>
</body>