<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>

<body>
  <div class="sidebar">
    <div class="logo-details">
      <i class='bx bx-equalizer'></i>
      <div class="logo_name"><a href="home">C.P.T.</a></div>
    </div>
    <ul class="nav-list">
      <li>
        <a href="generos">
          <i class='bx bx-grid-alt'></i>
          <span class="links_name">Géneros</span>
        </a>
      </li>
      <li>
        <a href="masBuscados">
          <i class='bx bx-trending-up'></i>
          <span class="links_name">Más Buscados</span>
        </a>
      </li>
      <li>
        <a href="subirTema">
          <i class='bx bx-upload'></i>
          <span class="links_name">Subir Tema</span>
        </a>
      </li>
    </ul>
  </div>

  <section class="home-section">
    <div class="text">
      <div class="container">
        <div id="titulo">
          <h1 class="card-title col-auto"><strong>Disfruta de nuestra gran variedad</strong></h1>
        </div>
        <main class="grid">
          <article>
            <img src="../assets/generos musicales/musica clasica.jpg" alt="">
            <div class="text">
              <h3>Música Clásica</h3>
              <p>Si lo tuyo es lo clásico, aquí encontraras diversas partituras para que puedas practicar.</p>
              <button>Ver Canciones</button>
            </div>
          </article>

          <article>
            <img src="../assets/generos musicales/blues.jpg" alt="">
            <div class="text">
              <h3>Blues</h3>
              <p>Aprende las diversas notas y patrones para formar tus propias estructuras y compases.</p>
              <button>Ver Canciones</button>
            </div>
          </article>

          <article>
            <img src="../assets/generos musicales/jazz.jpg" alt="">
            <div class="text">
              <h3>Jazz</h3>
              <p>En esta sección podrás comenzar a estudiar desde el lugar que te encuentres en tu búsqueda del sonido.
              </p>
              <button>Ver Canciones</button>
            </div>
          </article>

          <article>
            <img src="../assets/generos musicales/country.jpg" alt="">
            <div class="text">
              <h3>Country</h3>
              <p>Aquí podrás aprender los acordes, melodías y rasgeos de una gran variedad de canciones.</p>
              <button>Ver Canciones</button>
            </div>
          </article>

          <article>
            <img src="../assets/generos musicales/rock and roll.jpg" alt="">
            <div class="text">
              <h3>Rock and Roll</h3>
              <p>Lánzate al escenario y aprende los más famosos riff y acordes que reinaron durante esa época.</p>
              <button>Ver Canciones</button>
            </div>
          </article>

          <article>
            <img src="../assets/generos musicales/gospel.jpg" alt="">
            <div class="text">
              <h3>Gospel</h3>
              <p>Si buscas melodía y alegría esto es para ti, aquí aprenderás una gran variedad de sucesiones y acordes.</p>
              <button>Ver Canciones</button>
            </div>
          </article>
        </main>
      </div>
    </div>

    <nav aria-label="Page navigation example" style="padding-bottom: 40px; padding-top: 20px;">
      <ul class="pagination justify-content-center">
        <li class="page-item disabled"> <a class="page-link" tabindex="-1" aria-disabled="true"
            style=" padding: 5px;">Anterior</a> </li>
        <li class="page-item"><a class="page-link" style="padding: 5px; padding-left: 15px; padding-right: 15px;">1</a>
        </li>
        <li class="page-item"><a class="page-link" style=" padding: 5px; padding-left: 13px; padding-right: 13px;">2</a>
        </li>
        <li class="page-item"><a class="page-link" style="padding: 5px; padding-left: 13px; padding-right: 13px;">3</a>
        </li>
        <li class="page-item disabled"> <a class="page-link" tabindex="-1" aria-disabled="true"
          style=" padding: 5px;">Siguiente</a> </li>
      </ul>
    </nav>
  </section>
  
  <footer class="page-footer font-small blue" style="text-align: center; padding-left: 170px;">
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">
        © 2021 Copyright: Canciones Para Todos
    </div>
    <!-- Copyright -->
</footer>
</body>