<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>

<body>
    <div class="sidebar">
        <div class="logo-details">
            <i class='bx bx-equalizer'></i>
            <div class="logo_name">MusicBox</div>
        </div>
        <ul class="nav-list">
            <li>
                <a href="generos">
                    <i class='bx bx-grid-alt'></i>
                    <span class="links_name">Géneros</span>
                </a>
            </li>
            <li>
                <a href="masBuscados">
                    <i class='bx bx-trending-up'></i>
                    <span class="links_name">Más Buscados</span>
                </a>
            </li>
            <li>
                <a href="subirTema">
                    <i class='bx bx-upload'></i>
                    <span class="links_name">Subir Tema</span>
                </a>
            </li>
        </ul>
    </div>
    <section class="home-section">
        <div class="text">
            <div class="masthead">

                <div class="container">
                    <h1 id="titulo"><b>CANCIONES MÁS BUSCADAS</b> </h1>
                    <div class="card" id="tarjetaMusica">

                        <div class="card mb-3" id="cardCanciones">
                            <!--Insertar *ngFor para recorrer un arreglo que contiene las canciones mas buscadas. Como una
                        manera de visualizar las vistas de las canciones mas buscadas, se mostraran canciones directamente-->
                            <div class="row ">
                                <div class="col-md-6">
                                    <img src="../assets/partitura.png" class="img-fluid rounded-start"
                                        alt="WishYouWereHere">
                                </div>
                                <div class="col-md-6">
                                    <div class="card-body" id="bodySong">
                                        <h4 class="card-title">Wish You Were Here</h4>
                                        <h5 class="card-title">Pink Floyd</h5>
                                        <p class="card-text">Subida por: Juán Perez</p>
                                        <p class="card-text"><small class="text-muted">Nivel de complejidad: Fácil
                                            </small></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card" id="tarjetaMusica">
                        <div class="card mb-3" id="cardCanciones">
                            <div class="row">
                                <div class="col-md-6">
                                    <img src="../assets/heyYou.png" class="img-fluid rounded-start" alt="Hey You">
                                </div>
                                <div class="col-md-6">
                                    <div class="card-body" id="bodySong">
                                        <h4 class="card-title">Hey You</h4>
                                        <h5 class="card-title">Pink Floyd</h5>
                                        <p class="card-text">Subida por: Simón Mendez</p>
                                        <p class="card-text"><small class="text-muted">Nivel de complejidad: Avanzado
                                            </small></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card" id="tarjetaMusica">
                        <div class="card mb-3" id="cardCanciones">
                            <div class="row">
                                <div class="col-md-6">
                                    <img src="../assets/tnt.png" class="img-fluid rounded-start" alt="Tnt">
                                </div>
                                <div class="col-md-6">
                                    <div class="card-body" id="bodySong">
                                        <h4 class="card-title">T.N.T.</h4>
                                        <h5 class="card-title">AC DC</h5>
                                        <p class="card-text">Subida por: Alejandra Ortiz</p>
                                        <p class="card-text"><small class="text-muted">Nivel de complejidad: Media
                                            </small></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card" id="tarjetaMusica">
                        <div class="card mb-3" id="cardCanciones">
                            <div class="row">
                                <div class="col-md-6">
                                    <img src="../assets/yesterday.png" class="img-fluid rounded-start" alt="Yesterday">
                                </div>
                                <div class="col-md-6">
                                    <div class="card-body" id="bodySong">
                                        <h4 class="card-title">Yesterday</h4>
                                        <h5 class="card-title">The Beatles</h5>
                                        <p class="card-text">Subida por: Patricio Parra</p>
                                        <p class="card-text"><small class="text-muted">Nivel de complejidad:
                                                Fácil</small></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card" id="tarjetaMusica">
                        <div class="card mb-3" id="cardCanciones">
                            <div class="row">
                                <div class="col-md-6">
                                    <img src="../assets/back.jpg" class="img-fluid rounded-start" alt="Back in black">
                                </div>
                                <div class="col-md-6">
                                    <div class="card-body" id="bodySong">
                                        <h4 class="card-title">Back in Black</h4>
                                        <h5 class="card-title">AC DC</h5>
                                        <p class="card-text">Subida por: Ignacio Orellana</p>
                                        <p class="card-text"><small class="text-muted">Nivel de complejidad: Fácil
                                            </small></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Esto se deberia implementar con un ng for para mostrarse dinamicamente-->
                <nav aria-label="Page navigation example" style="padding-bottom: 40px; padding-top: 20px;">
                    <ul class="pagination justify-content-center">
                        <li class="page-item disabled">
                            <a class="page-link" tabindex="-1" aria-disabled="true"
                                style=" padding: 5px;">Anterior</a>
                        </li>
                        <li class="page-item"><a class="page-link"
                                style="padding: 5px; padding-left: 15px; padding-right: 15px;">1</a>
                        </li>
                        <li class="page-item"><a class="page-link"
                                style=" padding: 5px; padding-left: 13px; padding-right: 13px;">2</a>
                        </li>
                        <li class="page-item"><a class="page-link"
                                style="padding: 5px; padding-left: 13px; padding-right: 13px;">3</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link"
                                style=" padding: 5px;">Siguiente</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </section>
</body>