
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}

.sidebar{
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 200px;
  background:#D23023;
  padding: 6px 14px;
  z-index: 99;
}

.sidebar .logo-details{
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}

.sidebar .logo-details .icon{
  opacity: 1;
}

.sidebar .logo-details .logo_name{
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  opacity: 1;
}

.sidebar .logo-details .logo_name a{
  color: #fff;
  text-decoration: none;
  font-size: 35px;
}

.sidebar i{
  color: #fff;
  height: 60px;
  min-width: 50px;
  font-size: 45px;
  text-align: center;
  line-height: 60px;
}

.sidebar .nav-list{
  margin-top: 20px;
  height: 100%;
}

.sidebar li{
  position: relative;
  margin: 8px 0;
  list-style: none;
}

.sidebar li a{
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
}

.sidebar li a:hover{
  background: #FFF;
}

.sidebar li a .links_name{
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 1;
  pointer-events: none;
}

.sidebar.open li a .links_name{
  opacity: 1;
  pointer-events: auto;
}

.sidebar li a:hover .links_name,
.sidebar li a:hover i{
  transition: all 0.5s ease;
  color: #11101D;
}

.sidebar li i{
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 12px;
}

.home-section{
  position: relative;
  background: #fdfdfd;
  min-height: 100vh;
  top: 0;
  left: 200px;
  width: calc(100% - 200px);
  transition: all 0.5s ease;
  z-index: 2;
}

/****************************************************************/
.card {
    background-color: rgb(239, 175, 170);
    align-items: center;
}

.form {
    padding-top: 1mm; 
    padding-bottom: 5mm;
}

#titulo{
    color: #494a4b;
    text-align: center; 
    padding-bottom: 12px;
    padding-top: 25px;
}


#tarjetaMusica{
    padding-top: 15px;
    background-color: white;
    
}

#bodySong{
    padding-left: 15px;
    padding-top: 10px;
}
#cardCanciones{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    max-width: 540px;
}