<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>

<body>
  <div class="sidebar">
    <div class="logo_content">
      <div class="logo">
        <i class='bx bx-equalizer'></i>
        <div class="logo_name">MusicBox</div>
      </div>
      <i class='bx bx-menu' id="btn"></i>
    </div>
    <ul class="nav_list">
      <li>
        <i class='bx bx-search'></i>
        <input type="text" placeholder="Search...">
        <span class="tooltip">Buscar</span>
      </li>
      <li>
        <a href="">
          <i class="fa fa-users" aria-hidden="true"></i>
          <span class="links_name">Artistas</span>
        </a>
        <span class="tooltip">Artistas</span>
      </li>
      <li>
        <a href="">
          <i class='bx bxs-music'></i>
          <span class="links_name">Géneros</span>
        </a>
        <span class="tooltip">Géneros</span>
      </li>
      <li>
        <a href="">
          <i class='bx bx-trending-up'></i>
          <span class="links_name">Más Buscados</span>
        </a>
        <span class="tooltip">Más Buscados</span>
      </li>
      <li>
        <a href="">
          <i class='bx bx-upload' ></i>
          <span class="links_name">Subir Tema</span>
        </a>
        <span class="tooltip">Subir Tema</span>
      </li>
    </ul>      
  </div>  

  <div class="home_content">
    <div class="text">Home Content</div>
  </div>
</body>